.how-it-works{
  background-color:rgb(156, 174, 137);
  background-position:center;
  height: 30px;
  padding:75px 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gainsboro;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
